<section>
    <h3 class="widget-title">Follow Me</h3>
    <div class="tags">
        <a href="{{site.root}}feed.xml" rel="tooltip" data-placement="bottom" data-original-title="RSS Feed"><i class="icon-rss"></i></a>
        <a href="https://github.com/jtreminio" rel="tooltip" data-placement="bottom" data-original-title="GitHub"><i class="icon-github-alt"></i></a>
        <a href="https://twitter.com/juantreminio" rel="tooltip" data-placement="bottom" data-original-title="Twitter"><i class="icon-twitter"></i></a>
    </div>
</section>
